<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bbqresearch.roomwordsample">

    <uses-sdk android:minSdkVersion="12" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="io.bbqresearch.dsc.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.bbqresearch.dsc.NewWordActivity" />
        <activity
            android:name="io.bbqresearch.dsc.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service
            android:name="io.bbqresearch.dsc.service.DscServiceUpgrade"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="io.bbqresearch.dsc.UsbBlePairingActivity"
            android:label="@string/title_activity_usb_ble_pairing"
            android:parentActivityName="io.bbqresearch.dsc.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.bbqresearch.dsc.MainActivity" />
        </activity>
        <activity
            android:name="io.bbqresearch.dsc.ScanningActivityUpgrade"
            android:label="@string/title_activity_scanning_upgrade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="io.bbqresearch.dsc.StatusActivity"
            android:label="@string/title_activity_status">

        </activity>
    </application>

</manifest>